<div class="login-principal register">
    <div class="cerrar" (click)="cerrarModal()" >
        <i class="fas fa-times"></i>
    </div>
    <p>Registrate</p>

    <form [formGroup]="formG" class="mt-5 text-center">
        <mat-form-field class="example-full-width">
            <mat-label class="text-dark">Nombre</mat-label>
            <input matInput id="name" class="text-dark f-w" name="name" formControlName="name" required
                pattern="[a-zA-Z ]*" appOnlyChar onpaste="return" false>
            <mat-error
                *ngIf="formG.controls.name.errors && formG.controls.name.errors.required && (formG.controls.name.dirty || formG.controls.name.touched)">
                Campo Requerido</mat-error>
            <mat-error
                *ngIf="formG.controls.name.errors && formG.controls.name.errors.pattern && (formG.controls.name.dirty || formG.controls.name.touched)">
                No se permiten Numeros</mat-error>
        </mat-form-field> <br>

        <mat-form-field class="example-full-width">
            <mat-label class="text-dark">Apellido</mat-label>
            <input matInput id="lastName" class="text-dark f-w" name="name" formControlName="lastName"
                required pattern="[a-zA-Z ]*">
            <mat-error
                *ngIf="formG.controls.lastName.errors && formG.controls.lastName.errors.required && (formG.controls.lastName.dirty || formG.controls.lastName.touched)">
                Campo Requerido</mat-error>
            <mat-error
                *ngIf="formG.controls.lastName.errors && formG.controls.lastName.errors.pattern && (formG.controls.lastName.dirty || formG.controls.lastName.touched)">
                No se permiten Numeros</mat-error>
        </mat-form-field> <br>

        <mat-form-field class="example-full-width">
            <mat-label class="text-dark">Correo</mat-label>
            <input matInput id="correo" class=" f-w" name="correo" formControlName="correo"
                type="email"
                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                required>
            <mat-error
                *ngIf="formG.controls.correo.errors && formG.controls.correo.errors.required && (formG.controls.correo.dirty || formG.controls.correo.touched)">
                Campo Requerido</mat-error>
            <mat-error
                *ngIf="formG.controls.correo.errors && formG.controls.correo.errors.pattern && (formG.controls.correo.dirty || formG.controls.correo.touched)">
                Debe introducir una direccion e correo valida</mat-error>
        </mat-form-field> <br>

        <mat-form-field class="example-full-width">
            <mat-label class="text-dark">Password</mat-label>
            <input matInput id="pws" class="text-dark f-w" name="pws" type="password" formControlName="pws"
                required>
            <mat-error
                *ngIf="formG.controls.pws.errors && formG.controls.pws.errors.required && (formG.controls.pws.dirty || formG.controls.pws.touched)">
                Campo Requerido</mat-error>
            <mat-error
                *ngIf="formG.controls?.pws?.errors && formG.controls?.pws?.errors.minlength && (formG.controls?.pws?.dirty || formG.controls?.pws?.touched)">
                Minimo 5 caracteres</mat-error>
        </mat-form-field> <br>
        <div *ngIf="password" class="form-text error-contrasenas text-danger">Las contraseñas no coinciden</div>
        <mat-form-field class="example-full-width">
            <mat-label class="text-dark">Repite Password</mat-label>
            <input matInput id="pws2" class="text-dark f-w" name="pws2" type="password"
                formControlName="pws2" required>
            <mat-error
                *ngIf="formG.controls.pws2.errors && formG.controls.pws2.errors.required && (formG.controls.pws2.dirty || formG.controls.pws2.touched)">
                Campo Requerido</mat-error>
            <mat-error
                *ngIf="formG.controls?.pws2?.errors && formG.controls?.pws2?.errors.minlength && (formG.controls?.pws2?.dirty || formG.controls?.pws2?.touched)">
                Minimo 5 caracteres</mat-error>
        </mat-form-field> <br>
        <div *ngIf="password" class="form-text error-contrasenas text-danger">Las contraseñas no coinciden</div>

        <button mat-raised-button class="btn-block example-full-width Button-login-register" color="primary"
             [disabled]="!formG.valid" (click)="registrar()">Registrar</button> <br>
        <a (click)="auth.registerModal = !auth.registerModal; auth.loginModal = !auth.loginModal " class="text-primary mt-2">Ya tienes cuenta?. Inicia Sesión</a>


    </form>
  
</div>
