<div class="footer">
    <div class="contenido-footer">
        <div class="menu-footer">
            <div class="nav-link">
                <div routerLinkActive="active" routerLink="home" class="nav-link">Inicio</div>
            </div>
            <div  class="nav-link">
                <div routerLinkActive="active" routerLink="about" class="nav-link">Conoceme</div>
            </div>
            <div  class="nav-link">
                <div routerLinkActive="active" routerLink="productos" class="nav-link">Productos</div>
            </div>
            <div  class="nav-link">
                <div routerLinkActive="active" routerLink="contacto" class="nav-link">Contacto</div>
            </div>
       </div>

       <div class="horario-atencion">
            <div class="direccion separador">500 Terry Francois St. SF, CA 94158 </div>  
            <div class="open separador">Opening Hours  </div>        
            <div class="dias separador">Mon - Fri: 7am - 10pm </div>         
            <div class="extras separador">Saturday: 8am - 10pm </div> 
       </div>

       <div class="servicios">
        Customer Service <br>

        T: 123-456-7890 <br>
        F: 123-456-7890 <br>
        
        E: info@mysite.com
       </div>

       <div class="politics">
        FAQ <br>

        Shipping & Returns <br>
        
        Store Policy
       </div>
    </div>

    <div class="suscribete-form">
        <p>Suscribete para recibir noticias</p>

        <form class="form-suscribe">
            <div class="name">
                <input type="text" autocomplete="off"  name="name" required>
                <label for="name" class="label-name">
                    <span class="text-nombre">
                        Nombre
                    </span>
                </label>
            </div>
               
          
            <div class="email">
                <input type="text" autocomplete="off"  name="email" required>
                <label for="email" class="label-email">
                    <span class="text-email">
                        Email
                    </span>
                </label>
            </div>   
            
            
            <button type="button" class="buton-suscribete"> Suscribirse</button>
            
            
        
        </form>
      
    </div>
</div>