
<div class="image-principal">
    <div class="image-home">
        <div class="mensaje-bienvenida">
            <div class="numeros-bienvenida">
                <p>0 1</p>
            </div>
            <div class="mensaje-principal">
                <p>Los mejores descuentos solo por este mes</p>
            </div>
            <div class="button-home">
                <button type="button" class="boton-home-bienvenidos">Agendar Ahora</button>
            </div>
        </div>
    </div>
</div>
<div class="contenedor">
    <div class="mensaje-personal">
        <div class="contenedor-izq">
            <img src="assets/images/img-izq-home.jfif" alt="">
        </div>
        <div class="contenedor-der">
            <div class="mensaje-derecha-home">
                <h1 class="titulo-mensaje">
                    New Style
                </h1>

                <div class="que-hacemos-home">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ipsum inventore, illum fugiat quas amet dolores architecto eveniet at beatae.
                </div>

                <div class="button-mensaje">
                    <button type="button" class="boton-home-bienvenidos">Ver más</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="bloque">
    <div class="parallax imagen"></div>
    <div class="contenido-parallax">
        <div class="img-home">
            <img src="assets/images/ave-home.webp" alt="">
        </div>
        <h3 class="principal">
             Productos 100% naturales <br>
             Para el cuidado de tu mascota
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat 
            illum cum dolor blanditiis
            fuga maxime labore, quo veniam obcaecati
             illo voluptate libero cupiditate voluptatum dolores omnis vero, voluptas at qui?
        </p>
    </div>
</div>

