
<div class="contenedor-header">
    <div class="header-principal">
       <div class="menu">
            <div class="nav-link">
                <div routerLinkActive="active" routerLink="home" class="nav-link">Inicio</div>
            </div>
            <div  class="nav-link">
                <div routerLinkActive="active" routerLink="about" class="nav-link">Conoceme</div>
            </div>
            <div  class="nav-link">
                <div routerLinkActive="active" routerLink="productos" class="nav-link">Productos</div>
            </div>
            <div  class="nav-link">
                <div routerLinkActive="active" routerLink="contacto" class="nav-link">Contacto</div>
            </div>
       </div>
       <div class="logo-principal">
             <div class="logo">
                 <p> Pet New Style</p>
             </div>
       </div>
       <div class="sesion-cart">
            <div class="login" (click)="mostrarModal()">
                <div class="icon-user">
                    <i class="fas fa-user"></i>
                </div>          
                <p>Login</p>
                <div class="carro">
                    <i class="fas fa-cart-arrow-down"></i>
                </div>
            </div>
       </div>
    </div>
</div>



<div class="modal-login"  [ngClass]="{activarModalLogin: auth.modalServ && auth.loginModal}" >
    <div class="login-principal">
        <div class="cerrar" (click)="cerrarModal()">
            <i class="fas fa-times"></i>
        </div>
        <p>Login</p>

        <form [formGroup]="formG" class=" text-center mx-5">

            <mat-form-field class="example-full-width">
                <mat-label class="text-dark">Correo</mat-label>
                <input matInput id="correo" class=" f-w" name="correo" formControlName="correo"
                    type="email"
                    pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                    required>
                <mat-error
                    *ngIf="formG.controls.correo.errors && formG.controls.correo.errors.required && (formG.controls.correo.dirty || formG.controls.correo.touched)">
                    Campo Requerido</mat-error>
                <mat-error
                    *ngIf="formG.controls.correo.errors && formG.controls.correo.errors.pattern && (formG.controls.correo.dirty || formG.controls.correo.touched)">
                    Debe introducir una direccion e correo valida</mat-error>

            </mat-form-field> <br>

            <mat-form-field class="example-full-width">
                <mat-label class="text-dark">Password</mat-label>
                <input matInput id="pws" class="text-dark f-w" name="pws"
                    formControlName="pws" required>
          
                <mat-error
                    *ngIf="formG.controls?.pws?.errors && formG.controls?.pws?.errors.required && (formG.controls?.pws?.dirty || formG.controls?.pws?.touched)">
                    Campo Requerido</mat-error>
                <mat-error
                    *ngIf="formG.controls?.pws?.errors && formG.controls?.pws?.errors.minlength && (formG.controls?.pws?.dirty || formG.controls?.pws?.touched)">
                    Minimo 5 caracteres</mat-error>
            </mat-form-field> <br>

            <div class="mt-5">
                <button mat-raised-button class="w-50 Button-login-register" color="primary" [disabled]="!formG.valid"
                    type="button" (click)="onSubmit()">Entrar</button> <br>
                    
                        <a (click)="auth.registerModal = !auth.registerModal; auth.loginModal = !auth.loginModal" class="text-primary mt-5">
                            ¿No tienes cuenta? Registrate
                        </a> <br>
                   
                
                <a class="text-primary cursor">Olvidaste tu contraseña?</a>
            </div>
        </form>
        
    </div>
</div>

<div class="modal-register"  [ngClass]="{activarModalRegister: auth.registerModal && auth.modalServ}" >
    <app-register></app-register>
</div>
     
